<div>
  <button mat-icon-button (click)="add()"><mat-icon>add</mat-icon></button>
</div>

<div  fsModel
      #model
      (connectionCreated)="connectionCreated($event)">

  <div  *ngFor="let object of objects"
        class="object"
        fsModelObject
        (dragStop)="dragStop($event)"
        [data]="object"
        [x1]="object.x1"
        [y1]="object.y1"
        fsModelEndpointTarget>
    <button mat-icon-button (click)="remove(object)"><mat-icon>clear</mat-icon></button>
    <div>{{object.name}}</div>
    <div fsModelObjectEndpointSource class="top"></div>
    <div fsModelObjectEndpointSource class="left"></div>
    <div fsModelObjectEndpointSource class="right"></div>
    <div fsModelObjectEndpointSource class="bottom"></div>
  </div>
</div>
