.fs-model {
  position: relative;
  display: block;
  user-select: none;
}

.fs-model-object {
  position: absolute;
  cursor: pointer;
  z-index: 8;
  user-select: text;

  .fs-model-endpoint {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #cfcfcf;
    border-radius: 50%;
    display: none;
    cursor: pointer;

    &.north,
    &.north-east,
    &.north-west {
      top: -5px;
    }

    &.east,
    &.west {
      bottom: calc(50% - 5px);
    }

    &.north,
    &.south {
      left: calc(50% - 5px);
    }

    &.east,
    &.north-east,
    &.south-east {
      right: -5px;
    }

    &.west,
    &.north-west,
    &.south-west {
      left: -5px;
    }

    &.south,
    &.south-east,
    &.south-west {
      bottom: -5px;
    }
  }

  &:hover:not(.jtk-drag):not(.jtk-drag-hover) .fs-model-endpoint {
    display: block;
  }

  &:active,
  &.jtk-drag-hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

.fs-model-connection-label {
  background: #fff;
  padding: 0 5px;
  z-index: 7;
  border-radius: 2px;
}

.fs-model-connection.fs-model-clickable path,
.fs-model-connection-label.fs-model-clickable {
  cursor: pointer;
}

.fs-model-connection-tooltip {
    transform-origin: center top 0px;
    transform: scale(1);
    color: #fff;
    border-radius: 4px;
    max-width: 250px;
    padding: 6px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(97,97,97,.9);
    font-size: 10px;
    display: none;
    position: absolute;
    margin-top: 3px;
    top: 100%;
    white-space: pre;
    left: 50%;
    transform: translateX(-50%);
}

.fs-model-connection-label:hover .fs-model-connection-tooltip {
  display: block;
}